@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background: #f0f0f0;
    line-height: 1.5;
    font-family: "Squada One", "Noto Sans TC", -apple-system, BlinkMacSystemFont,
      "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial,
      sans-serif;
  }

  .font-paytone {
    font-family: "Paytone One", sans-serif;
  }
}
@layer utilities {
  .wm-vertical-lr {
    writing-mode: vertical-lr;
  }
}

@layer components {
  .btn {
    @apply relative w-[132px] border border-black py-2 text-center text-lg after:absolute after:right-0 after:bottom-0 after:border-r-[16px] after:border-t-[16px] after:border-primary after:border-t-transparent after:content-[''];
  }

  .input {
    @apply w-full border border-transparent bg-transparent focus:border-transparent focus:ring focus:ring-transparent;
  }
}
/* Swiper root 設定 */
:root {
  --swiper-theme-color: #62db54;
  --swiper-pagination-bullet-inactive-color: #62db54;
  --swiper-pagination-bullet-inactive-opacity: 1;
}

.js-wall {
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  margin: 0 auto 24px auto;
}

.js-wall::-webkit-scrollbar {
  display: none;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: auto;
}
.swiper-pagination-bullet {
  opacity: initial;
}
.swiper-pagination-bullet-active {
  width: 16px;
  border-radius: 100px;
}
